.weather-main-section {
  --outer-radius: var(--border-radius-sm);
  --inner-radius: calc(var(--border-radius-sm) / 2);
  /* Base */
  width: 100%;

  /* Header */
  & .weather-main-section__title {
    margin: 0 0 var(--spacing-sm);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
  }

  /* Content */
  & .weather-main-section__container {
    width: 100%;
    max-width: 960px;
    min-height: 100px;
    margin: 0 auto;
  }
  & .weather-main-section__content {
    border-radius: var(--outer-radius);
    padding: var(--spacing-xl) var(--spacing-md);
    background: color-mix(
      in srgb,
      var(--color-surface-strong) 88%,
      transparent
    );
    backdrop-filter: blur(4px);

    display: flex;
    gap: var(--spacing-lg);
  }

  & .weather-main-section__temperature {
    grid-area: temperature;
    font-size: var(--font-size-3xl);
    color: var(--color-text-primary);
    line-height: 1;
  }

  & .weather-main-section__description {
    grid-area: description;
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  & .weather-main-section__description-value {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
  }

  & .weather-main-section__sensation {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
  }

  & .weather-main-section__metrics {
    grid-area: metrics;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xl);
    margin-left: auto;
  }

  & .weather-main-section__metric {
    width: auto;
    min-width: 70px;
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .weather-main-section__metric-label {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
  }

  & .weather-main-section__metric-value {
    font-size: var(--font-size-lg);
    color: var(--color-text-primary);
    font-weight: var(--font-weight-medium);
  }

  /* States */
  &.weather-main-section--error {
    display: block;
  }

  & .weather-main-section__error-message {
    margin: 0;
    color: var(--color-text-secondary);
  }
}

/* Responsive */
@media (max-width: 720px) {
  .weather-main-section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "temperature"
      "description"
      "metrics";
  }
}
