.weather-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 1260px;
  margin: 0 auto;
  padding: var(--spacing-md) 0;
  gap: var(--spacing-md);

  & .weather-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .weather-main-section {
      display: flex;
      gap: 20px;

      & > * {
        width: 50%;
        height: 100%;
        min-height: 190px;
        border: 1px solid var(--color-border-light);
        border-radius: var(--border-radius-md);
        background: var(--color-surface);
        box-shadow: var(--shadow-sm);
        padding: var(--spacing-md) var(--spacing-lg);
      }
    }
  }
}
