.weather-footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-2xl);
  font-size: var(--font-size-2xs);
  color: var(--color-text-secondary);

  & a {
    color: var(--color-text-accent);
    text-decoration: none;
    font-weight: var(--font-weight-medium);

    &:hover {
      text-decoration: underline;
    }
  }
}
